#drum-machine {
  align-content: center;
  max-width: 100vw;
  padding: 50px;
}

.mainContainer {
  font-size: 28px;
  min-height: 350px;
  width: 700px;
  background: lightgrey;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 15px;
  padding: 15px;
}